html {
  /* overflow-y: hidden; */
  overflow-x: hidden;
}
/* ::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 2px;
} */
 
/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 2px;
  opacity: 0%;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
} */
.inline-photo {
  border: 1em solid #fff;
  border-bottom: 4em solid #fff;
  border-radius: .25em;
  box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
  margin: 2em auto;
  max-width: 600px;
  opacity: 0;
  -webkit-transform: translateY(4em) rotateZ(-5deg);
          transform: translateY(4em) rotateZ(-5deg);
  -webkit-transition: opacity .3s .25s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
  transition: opacity .3s .25s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out,
              -webkit-transform 4s .25s cubic-bezier(0,1,.3,1);
  width: 90%;

  will-change: transform, opacity;
}

.inline-photo.is-visible {
  opacity: 1;
  -webkit-transform: rotateZ(-2deg);
          transform: rotateZ(-2deg);
}
.bg_img {
    margin: 0;
    padding: 0;
    background-image: url('../images/event\ laptop\ view.jpg');
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    height: 100vh;
    width: 100%;    
  }
  .heading{
      text-align: center;
      font-size: 5rem;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
  }
  .iplPara{
    margin-top: -55vh;
    color: white;
    padding-left: 12vh;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    
  }
  .swPara{
    margin-top: -60vh;
    color: white;
    padding-left: 120vh;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    
  }
  
    /*--For mobile devices--*/
  @media (max-width: 480px) {
    html, body {
  overflow-x: hidden;
}
body {
  position: relative
}
    
      .bg_img {
        background-image: url('../images/event\ mobile\ view.jpg');
        background-size: cover;
        /* background-position: center center; 
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover; */
        /* height: 100vh;*/
        width: 100vw;
          
      }
      .heading{
        margin-top: 120px;
        font-weight: 700;
        font-size: 3.2rem;
        padding-left: 1vh;
        

     }
      .iplPara{
        padding-left: 1vh;
        padding-right: 1vh;
        color: white;
        margin-top: -60vh;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1.5rem;
      }
      .swPara{
        padding-left: 1vh;
        padding-right: 1vh;
        color: white;
        margin-top: -65vh;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1.5rem;
      }
      
  }
  
  /*-----For tablets: ---------------
  @media (min-width: 481px) and (max-width: 1024px) {
      .bg_img {
          background-image: url('../img/website\ image\ 3\ mobile\ view.jpg');
      }
  }*/
  
  /*-----For desktop devices ------*/
  @media (min-width: 1025px) {
    .bg_img {
        background: url('../images/conso.jpg')no-repeat center center fixed;
        background-size: cover;
    }
    .heading{
        margin-top: 150px;
    }
    /* .ipl_img{
        background: url('../images/ipl.jpg')no-repeat center center fixed;
        background-size: cover;
    } */
  }
.para{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}
.arrow {
    position: relative;
    bottom: 0vw;
    left: 98vw;
    transform: translate(-50%, -50%);
  }
  .arrow span {
    display: block;
    width: 2vw;
    height: 2vw;
    border-bottom: 5px solid #008dff;
    border-right: 5px solid #008dff;
    transform: rotate(45deg);
    margin: -0.4vw;
    animation: animate 2s infinite;
  }
  .arrow span:nth-child(2) {
    animation-delay: -0.2s;
  }
  .arrow span:nth-child(3) {
    animation-delay: -0.4s;
  }
  @keyframes animate {
    0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
    }
  }
  body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .text {
    text-align: center;
    color: white;
    font-size: 2vw;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  .pulse {
    animation-name: pulse;
    animation-duration: 1s;
  }
  
  @media (max-width: 500px) {
    
    .arrow {
      position: relative;
      top: 8vw;
      left: 95vw;
      transform: translate(-50%, -50%);
    }
    .arrow span {
      display: block;
      width: 5vw;
      height: 5vw;
      border-bottom: 5px solid #008dff;
      border-right: 5px solid #008dff;
      transform: rotate(45deg);
      margin: -0.4vw;
      animation: animate 2s infinite;
    }
}
/* footer css */
.follow-ecell
{
	font-size: 1.5rem;
	font-weight: 500;
  color: white;
	color: rgba(255, 255, 255, 0.8);
}
.share-row
{
	margin-top: 1rem;
}
.share-row a
{ 
	color: rgba(255, 255, 255, 0.8);
}
.hosting-partner-image-container
{
	text-align: center;
}
.hosting-partner-image-container img
{
	width: 100px;
}
.h3-responsive > a{
	color: #fff;
}
a:link{
  text-decoration: none;
}