body{
    font-family: montserrat;
    background-image: url("background5-01.jpg");
    background-repeat: repeat;
    background-size: 100% 100%;
    color:white;
}

/* @media(max-width:450px){
    .q-form{
        width: 75% !important;
    }
} */
.q{
    font-size:1.5rem !important;
}
.answer{
    font-size: 20px;
    margin-top:2%;
}